<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="stylesheet" href="../css/NavFood.css">
   <!-- <link rel="stylesheet" href="../css/feedback.css">-->
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/lightmode.css" type="text/css">
    <link rel="stylesheet" href="../css/darkmode.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="../js/darkmode.js"></script>
</head>
<body id="body" class="body-lightmode">
<header id="header" class="navFooter-lightmode">

</header>



<main id="main" class="main-lightmode"><!DOCTYPE html>

    <section id="mainCheckout">

        <article>
            <h1>Thx for the order, <%= name %></h1>
            <h2>We'll get right on it!</h2>
            <a><img class= "center" id="queenB" alt="QueenB" src="../images/queenB.gif"></a>
        </article>


    </section>
</main>
<footer id="footer" class="navFooter-lightmode">
    <p>Impressum: Da steht was <br>
        Kontakt: Adresse <br>
        <!--<a href="feedback.html">Feedback</a></p>-->
        <button id="dark-mode-toggle" class="dark-mode-toggle">Toggle</button>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</footer>

</body>
</html>