<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../css/signUpIn.css">
  <link rel="stylesheet" href="../css/NavFood.css">
  <link rel="stylesheet" href="../css/fonts.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/lightmode.css">
  <link rel="stylesheet" href="../css/darkmode.css">
  <script defer src="../js/darkmode.js"></script>
  <!-- <script src="../JS/signUpIn.js"></script>-->
</head>
<body id="body" class="body-lightmode">

<header id="header" class="navFooter-lightmode">
  <!--
  <ul>
    <li><a href="html/main.html"><img id = "mainIcon" alt="battery mascot" src="../images/Mainpicture.PNG"></a></li>
    <li><a href="html/shoppingcart.html"><img id="shoppingcartIcon" alt="shoppingcart icon" src="../images/Shoppingcart.PNG"></a></li>
    <li><a href="html/shop.html"><img id="shopIcon" alt="Shop Icon" src="../images/Shop.PNG" ></a></li>
  </ul>
-->
</header>

<main id="main" class="main-lightmode">
  <section class="signupclasstemp">
    <!-- klasse temporär, weil background für body nicht funktioniert hat. kann entfernt werden-->

    <!-- links oder buttons? aktuell: buttons mit javascript dom -->
    <ul class="signInLink">
      <li><a href="/login"><img id = "signIn" alt="Sign In Icon" src="../images/SignIn.PNG"></a></li><!--refers to login by clicking img-->
    </ul>
    <h1 id="h1" class="h1-lightmode">Create your account</h1>


    <section class="signupinform" id="signupform">
      <form action="/register" method="POST"><!-- post to a route with the name /register inside server-->

        <section class="field">
          <label for="name"></label>
          <input type="text" name="name" id="name" placeholder="Name" required>
        </section>
        <!--
        <section class="field">
          <label for="last_name"></label>
          <input type="text" name="last_name" id="last_name" placeholder="Last name" required>
        </section>
        -->

        <section class="field">
          <label for="email"></label>
          <input type="email" name="email" id="email" placeholder="user@example.com" required>
        </section>

        <section class="field">
          <label for="password"></label>
          <input type="password" name="password" id="password" placeholder="password" required>
        </section>

        <label for="register_submit"></label>
        <button type="submit" class="submitbutton" id="register_submit" >Register</button>
      </form>
    </section>
  </section>
</main>

<footer id="footer" class="navFooter-lightmode">
  <p>Impressum: Da steht was <br>
    Kontakt: Adresse <br>
    <!--<a href="feedback.html">Feedback</a></p>-->
    <button id="dark-mode-toggle" class="dark-mode-toggle">Dark</button>
</footer>
</body>
</html>